[Unit]
Description=Prometheus MSTeams
After=network-online.target

[Service]
User=prometheus
Group=prometheus
LimitNOFILE=65536
ExecStart=/usr/local/bin/prometheus-msteams -teams-request-uri {{ msteams_channel }} -config-file {{ prometheus_msteams_path }}/config.yml -template-file {{ prometheus_msteams_path }}/default-message-card.tmpl

[Install]
WantedBy=multi-user.target
