cluster.name: {{ cluster_name }}
node.name: {{ inventory_hostname }}
network.host: 0.0.0.0
node.master: true
node.data: true
node.ingest: true
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
gateway.recover_after_nodes: 2
#logger.org.elasticsearch.discovery: TRACE 
discovery.seed_hosts: {{ elastic_stack_cluster | to_yaml }}
cluster.initial_master_nodes: {{ elastic_stack_cluster | to_yaml }}
